.Navigation {
  list-style-type: none;
}
/* 
.Navigation .dropdown {
  display: inline-block;
} */

.Navigation .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.Navigation .dropdown:hover .dropdown-content {
  display: block;
}
