.CdnTechConnection {
  display: flex;
  align-items:  center;
  justify-content: space-around;
  padding: 20px 100px;
  background-color: #f4f5f8;
}

.description {
  flex: 1;
}

.description h1 {
  font-size: 2.5vw;
}

.image {
  display: none;
}

.image img{
  max-width: 100%;
}

@media (min-width: 768px) {
  .description {
    margin-right: 25px;
  }

  .image {
    display: block;
    flex: 1;
    margin-left: 25px;
  }
}