.Toolbar {
  display: grid;
  align-items: center;
  padding: 10px 20px;
  grid-template: 1fr / 1fr 4fr 1fr;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: white;
  width: 100%;
}

.ToolbarLogo {
  grid-column: 1 / 2;
}

.ToolbarNavigation {
  grid-column: 2 / 3;
}

.ToolbarActionButton {
  text-align: center;
  grid-column: 3 / 4;
}