.Toolbar {
  display: grid;
  padding: 0 20px;
  grid-template: auto / 1fr 4fr 1fr;
}

.Toolbar-logo {
  grid-column: 1 / 2;
}

.Toolbar-navigation {
  padding: 15px 0;
  grid-column: 2 / 3;
}

.Toolbar-action-button {
  padding: 15px;
  text-align: center;
  grid-column: 3 / 4;
}