.ActionButton button {
  background-color: #ffffff;
  border: solid 1px lightgray;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Open Sans, "Roboto", "Helvetica", Sans Serif;
  font-weight: 500;
  color: #010101;
}