.ActionButton button {
  background-color: #ffffff;
  border: solid 1px lightgray;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  color: #010101;
  outline: none;
}

.ActionButton button:hover {
  border: solid 1px black;
  margin-top: -2px;
  transition: 0.2s;
}

@media screen and (max-width: 992px) {
  .ActionButton button {
    font-size: 0.7em;
  }
}